{% extends 'contacts/base.html' %}
{% load bootstrap3 %}
{% load humanize %}

{% block title %}Recherche d’alertes : {{ object }}{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'bell' %} Recherche d’alertes : {{ object }}</h2>
    {% with objects_count=object_list|length %}
    <p>Affichage de {{ objects_count }}
    alerte{{ objects_count | pluralize }}{% if is_paginated %} sur {{ paginator.count }}{% endif %}.</p>
    {% endwith %}
    <table class="table">
        <tr><th>Contact</th>
            {% if not company %}<th>Société</th>{% endif %}
            <th>Date</th>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        {% for object in object_list %}
        <tr class="{% if object.priority == 0 %}default
        {% elif object.priority == '1' %}success
        {% elif object.priority == '2' %}info
        {% elif object.priority == '3' %}warning{% endif %}">
            {% if not contact %}<td><a href="{{ object.contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ object.contact }}</a></td>{% endif %}
            {% if not company %}<td><a href="{{ object.contact.company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ object.contact.company }}</a></td>{% endif %}
            <td><span class="label{% if object.is_near %} label-danger{% else %} label-default{% endif %}" data-toggle="tooltip" data-placement="top" data-original-title="{{ object.date }}">{{ object.date | naturaltime }}</span></td>
            <td><a href="{{ object.get_absolute_url }}">{% bootstrap_icon 'bell' %} {{ object }}</a></td>
            <td>{% if perms.contacts.change_alert %}<a href="{% url 'contacts:alert-update' pk=object.pk %}">{% bootstrap_icon 'pencil' %}</a>{% endif %}
                {% if perms.contacts.delete_alert %}<a href="{% url 'contacts:alert-delete' pk=object.pk %}">{% bootstrap_icon 'trash' %}</a></td>{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="5">Il n’y a aucune alerte.</td></tr>
        {% endfor %}
    </table>
    {% include 'contacts/partials/paginator.html' %}
{% endblock %}

