{% extends 'contacts/base.html' %}
{% load bootstrap3 %}
{% load humanize %}

{% block title %}Liste des alertes{% if company %}
de la société {{ company }}{% elif contact %} de {{ contact }}{% endif %}{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'bell' %} Liste des alertes{% if company %}
    de la société <a href="{{ company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ company }}</a>
    {% elif contact %} de <a href="{{ contact.get_absolute_url }}">{{ contact }}</a>{% endif %}
    {% if perms.contacts.add_alert %}
        {% if company %}
        <a href="{% url 'contacts:alert-create' company=company.slug %}"
            class="btn btn-primary btn-xs">Ajouter</a>
        {% else %}
        <a href="{% url 'contacts:alert-create' %}" class="btn
            btn-primary btn-xs">Ajouter</a>
        {% endif %}
    {% endif %}
    </h2>
    {% include 'contacts/partials/search-form.html' with return_url='contacts:alert-list' %}
    {% with objects_count=object_list|length %}
    <p>Affichage de {{ objects_count }}
    alerte{{ objects_count | pluralize }}{% if is_paginated %} sur {{ paginator.count }}{% endif %}.</p>
    {% endwith %}
    <table class="table table-striped table-bordered">
        <tr>{% if not contact %}<th>Contact</th>{% endif %}
            {% if not company %}<th>Société
                <span class="pull-right">
                <a{% if order == 'company' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=company">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-company' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-company">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>{% endif %}
            <th>Date
                <span class="pull-right">
                <a{% if order == 'date' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=date">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-date' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-date">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            <th>Titre
                <span class="pull-right">
                <a{% if order == 'title' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=title">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-title' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-title">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            <th>Priorité
                <span class="pull-right">
                <a{% if order == 'priority' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=priority">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-priority' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-priority">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            <th>Achevé
                <span class="pull-right">
                <a{% if order == 'done' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=done">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-done' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-done">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            <th>Actions</th>
        </tr>
        {% for object in object_list %}
        <tr class="{% if object.priority == 0 %}default
        {% elif object.priority == '1' %}success
        {% elif object.priority == '2' %}info
        {% elif object.priority == '3' %}warning{% endif %}">
            {% if not contact %}<td><a href="{{ object.contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ object.contact }}</a></td>{% endif %}
            {% if not company %}<td>{% if object.contact.company %}
                <a href="{{ object.contact.company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ object.contact.company }}</a>
                {% endif %}</td>{% endif %}
            <td><span class="label{% if object.is_near %} label-danger{% else %} label-default{% endif %}" data-toggle="tooltip" data-placement="top" data-original-title="{{ object.date }}">{{ object.date | naturaltime }}</span></td>
            <td><a href="{{ object.get_absolute_url }}">{% bootstrap_icon 'bell' %} {{ object }}</a></td>
            <td><span class="text-{% if object.priority == 0 %}default
        {% elif object.priority == '1' %}success
        {% elif object.priority == '2' %}info
        {% elif object.priority == '3' %}warning{% endif %}">{{ object.get_priority_display }}</span></td>
            <td>{% if object.done %}<span class="text-success" data-toggle="tooltip" data-placement="top" data-original-title="Fait">{% bootstrap_icon 'ok' %}</span>
            {% else %}<span class="text-danger" data-toggle="tooltip" data-placement="top" data-original-title="Pas encore achevé">{% bootstrap_icon 'remove' %}</span>
            {% endif %}</td>
            <td>{% if perms.contacts.change_alert %}<a href="{% url 'contacts:alert-update' pk=object.pk %}">{% bootstrap_icon 'pencil' %}</a>{% endif %}
                {% if perms.contacts.delete_alert %}<a href="{% url 'contacts:alert-delete' pk=object.pk %}">{% bootstrap_icon 'trash' %}</a></td>{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="5">Il n’y a aucune alerte.</td></tr>
        {% endfor %}
    </table>
    {% include 'contacts/partials/paginator.html' %}
{% endblock %}

