{% extends 'base.html' %}
{% load bootstrap3 %}
{% load activelink %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'contacts:home' %}">Pyru</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li{% ifactive 'contacts:home' %} class="active"{% endifactive %}>
            <a href="{% url 'contacts:home' %}">{% bootstrap_icon 'home' %} Accueil</a>
        </li>

        {% if perms.contacts.view_company %}
        <li class="dropdown{% ifstartswith 'contacts:company' %} active{% endifstartswith %}{% if object.type == 'Company' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon 'briefcase' %} Sociétés <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'contacts:company-list' %}">Liste</a></li>
                {% if perms.contacts.add_company %}<li><a href="{% url 'contacts:company-create' %}">{% bootstrap_icon 'plus' %} Ajouter</a></li>{% endif %}
                {% if companies_displayed_searches %}
                    <li class="divider"></li>
                    {% for search in companies_displayed_searches %}
                        <li><a href="{% url 'contacts:search-detail' slug=search.slug %}" title="Consulter cette recherche">{% bootstrap_icon 'search' %} {{ search }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        {% endif %}

        {% if perms.contacts.view_contact %}
        <li class="dropdown{% ifstartswith 'contacts:contact' %} active{% endifstartswith %}{% if object.type == 'Contact' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon 'user' %} Contacts <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'contacts:contact-list' %}">Liste</a></li>
                {% if perms.contacts.add_contact %}<li><a href="{% url 'contacts:contact-create' %}">{% bootstrap_icon 'plus' %} Ajouter</a></li>{% endif %}
                {% if contacts_displayed_searches %}
                    <li class="divider"></li>
                    {% for search in contacts_displayed_searches %}
                        <li><a href="{% url 'contacts:search-detail' slug=search.slug %}" title="Consulter cette recherche">{% bootstrap_icon 'search' %} {{ search }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        {% endif %}

        {% if perms.contacts.view_meeting %}
        <li class="dropdown{% ifstartswith 'contacts:meeting' %} active{% endifstartswith %}{% if object.type == 'Meeting' %} active{% endif %}">
            <a href="#" class="dropdown-toggle{% ifstartswith 'contacts:meeting' %} active{% endifstartswith %}"
                data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">{% bootstrap_icon 'comment' %} Échanges <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'contacts:meeting-list' %}">Liste</a></li>
                {% if perms.contacts.add_meeting %}<li><a href="{% url 'contacts:meeting-create' %}">{% bootstrap_icon 'plus' %} Ajouter</a></li>{% endif %}
                {% if meetings_displayed_searches %}
                    <li class="divider"></li>
                    {% for search in meetings_displayed_searches %}
                        <li><a href="{% url 'contacts:search-detail' slug=search.slug %}" title="Consulter cette recherche">{% bootstrap_icon 'search' %} {{ search }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        {% endif %}

        {% if perms.contacts.view_alert %}
        <li class="dropdown{% ifstartswith 'contacts:alert' %} active{% endifstartswith %}{% if object.type == 'Alert' %} active{% endif %}">
            <a href="#" class="dropdown-toggle{% ifstartswith 'contacts:alert' %} active{% endifstartswith %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon 'bell' %} Alertes <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'contacts:alert-list' %}">Liste</a></li>
                {% if perms.contacts.add_alert %}<li><a href="{% url 'contacts:alert-create' %}">{% bootstrap_icon 'plus' %} Ajouter</a></li>{% endif %}
                {% if alerts_displayed_searches %}
                    <li class="divider"></li>
                    {% for search in alerts_displayed_searches %}
                        <li><a href="{% url 'contacts:search-detail' slug=search.slug %}" title="Consulter cette recherche">{% bootstrap_icon 'search' %} {{ search }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="#" class="dropdown-toggle {% ifstartswith 'contacts:account' %} active {% endifstartswith %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon 'menu-hamburger' %} Bienvenue, {{ user }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {# <li><a href="{% url 'contacts:account-detail' %}">{% bootstrap_icon 'wrench' %} Gestion du compte</a></li> #}
            {% if user.is_staff %}<li><a href="{% url 'admin:index' %}">
                    {% bootstrap_icon 'cog' %} Administration</a></li>
            {% endif %}
            <li><a href="{% url 'contacts:logout' %}">Déconnexion</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</div>
{% endblock %}
