{% extends 'base.html' %}
{% load bootstrap3 %}
{% load activelink %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li{% ifactive 'contacts:home' %} class="active"{% endifactive %}>
            <a class="navbar-brand" href="{% url 'contacts:home' %}">{% bootstrap_icon 'home' %} Pyru</a>
        </li>

        {% if perms.contacts.view_company %}
        <li class="dropdown{% ifstartswith 'contacts:company' %} active{% endifstartswith %}{% if search_type == 'company' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon 'briefcase' %} Sociétés <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'contacts:company-list' %}">Liste</a></li>
                {% if perms.contacts.add_company %}
                <li><a href="{% url 'contacts:company-create' %}">{% bootstrap_icon 'plus' %} Ajouter</a></li>
                <li><a href="{% url 'contacts:import' type='company' %}">{% bootstrap_icon 'import' %} Importer</a></li>
                {% endif %}
                {% include 'contacts/partials/savedsearches_menu.html' with displayed_searches=companies_displayed_searches type='company' %}
            </ul>
        </li>
        {% endif %}

        {% if perms.contacts.view_contact %}
        <li class="dropdown{% ifstartswith 'contacts:contact' %} active{% endifstartswith %}{% if search_type == 'contact' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon 'user' %} Contacts <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'contacts:contact-list' %}">Liste</a></li>
                {% if perms.contacts.add_contact %}
                <li><a href="{% url 'contacts:contact-create' %}">{% bootstrap_icon 'plus' %} Ajouter</a></li>
                <li><a href="{% url 'contacts:import' type='contact' %}">{% bootstrap_icon 'import' %} Importer</a></li>
                {% endif %}
                {% include 'contacts/partials/savedsearches_menu.html' with displayed_searches=contacts_displayed_searches type='contact' %}
            </ul>
        </li>
        {% endif %}

        {% if perms.contacts.view_meeting %}
        <li class="dropdown{% ifstartswith 'contacts:meeting' %} active{% endifstartswith %}{% if search_type == 'meeting' %} active{% endif %}">
            <a href="#" class="dropdown-toggle{% ifstartswith 'contacts:meeting' %} active{% endifstartswith %}"
                data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">{% bootstrap_icon 'comment' %} Échanges <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'contacts:meeting-list' %}">Liste</a></li>
                {% if perms.contacts.add_meeting %}
                <li><a href="{% url 'contacts:meeting-create' %}">{% bootstrap_icon 'plus' %} Ajouter</a></li>
                <li><a href="{% url 'contacts:import' type='meeting' %}">{% bootstrap_icon 'import' %} Importer</a></li>
                {% endif %}
                {% include 'contacts/partials/savedsearches_menu.html' with displayed_searches=meetings_displayed_searches type='meeting' %}
            </ul>
        </li>
        {% endif %}

        {% if perms.contacts.view_alert %}
        <li class="dropdown{% ifstartswith 'contacts:alert' %} active{% endifstartswith %}{% if search_type == 'alert' %} active{% endif %}">
            <a href="#" class="dropdown-toggle{% ifstartswith 'contacts:alert' %} active{% endifstartswith %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon 'bell' %} Alertes <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'contacts:alert-list' %}">Liste</a></li>
                {% if perms.contacts.add_alert %}
                <li><a href="{% url 'contacts:alert-create' %}">{% bootstrap_icon 'plus' %} Ajouter</a></li>
                <li><a href="{% url 'contacts:import' type='alert' %}">{% bootstrap_icon 'import' %} Importer</a></li>
                {% endif %}
                {% include 'contacts/partials/savedsearches_menu.html' with displayed_searches=alerts_displayed_searches type='alert' %}
            </ul>
        </li>
        {% endif %}
      </ul>
      {% if perms.contacts.view_contact %}
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Recherche rapide" id="fastsearch" data-url="{% url 'contacts:fast-search' %}">
        </div>
      </form>
      {%  endif %}
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a href="#" class="dropdown-toggle {% ifstartswith 'contacts:account' %} active {% endifstartswith %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% bootstrap_icon 'menu-hamburger' %} Bienvenue, <strong>{{ user }}</strong> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {# <li><a href="{% url 'contacts:account-detail' %}">{% bootstrap_icon 'wrench' %} Gestion du compte</a></li> #}
            <li class="dropdown-header">Groupe par défaut</li>
            {% for group in user.groups.all %}
            <li><a href="{% url 'contacts:group-change' pk=group.pk %}" title="Activer ce groupe">{% if group == default_group %}{% bootstrap_icon 'ok' %} {% endif %}{{ group }}</a></li>
            {% endfor %}
            <li role="separator" class="divider"></li>
            {% if user.is_staff %}<li><a href="{% url 'admin:index' %}">
                    {% bootstrap_icon 'cog' %} Administration</a></li>
            {% endif %}
            <li><a href="{% url 'contacts:logout' %}">{% bootstrap_icon 'off' %} Déconnexion</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</div>
{% endblock %}
