{% extends 'base.html' %}
{% load bootstrap3 %}
{% load activelink %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'contacts:home' %}">Pyru</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if perms.contacts.view_alert %}<li{% ifactive 'contacts:home' %} class="active"{% endifactive %}><a href="{% url 'contacts:home' %}">Accueil</a></li>{% endif %}
        {% if perms.contacts.view_company %}<li{% ifstartswith 'contacts:company' %} class="active"{% endifstartswith %}><a href="{% url 'contacts:company-list' %}">Sociétés</a></li>{% endif %}
        {% if perms.contacts.view_contact %}<li{% ifstartswith 'contacts:contact' %} class="active"{% endifstartswith %}><a href="{% url 'contacts:contact-list' %}">Contacts</a></li>{% endif %}
        {% if perms.contacts.view_meeting %}<li class="dropdown">
          <a href="#" class="dropdown-toggle{% ifstartswith 'contacts:meeting' %} active{% endifstartswith %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rencontres <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'contacts:meeting-list' %}">Liste</a></li>
            {% if perms.contacts.add_meeting %}<li><a href="{% url 'contacts:meeting-create' %}">{% bootstrap_icon 'plus' %} Ajouter</a></li>{% endif %}
          </ul>
        </li>{% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</div>
{% endblock %}
