{% extends 'contacts/base.html' %}
{% load bootstrap3 %}

{% block title %}Détail de la société {{ object }}{% endblock %}

{% block content %}
<h2>Détail de la société {{ object }}</h2>
    <div>{{ object }}</div>
    <dl>
    {% for prop_name, prop_value in object.properties.items %}
        <dt>{{ prop_name }}</dt>
        <dd>{{ prop_value }}</dd>
    {% endfor %}
    </dl>
    <table class="table">
        <tr><th>Nom</th>
            <th>Groupe</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        {% for contact in object.contacts.all %}
        <tr><td><a href="{{ contact.get_absolute_url }}">{{ contact }}</a></td>
            <td>{{ contact.group }}</td>
            <td>{{ contact.type }}</td>
            <td><a href="{% url 'contacts:contact-update' slug=contact.slug %}">{% bootstrap_icon 'pencil' %}</a>
                <a href="{% url 'contacts:contact-delete' slug=contact.slug %}">{% bootstrap_icon 'trash' %}</a></td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'contacts:contact-create' company=object.slug %}"
        class="btn btn-info">
        {% bootstrap_icon 'plus' %} Ajouter un contact</a></p>
    <p><a href="{% url 'contacts:company-update' slug=object.slug %}"
        class="btn btn-info">Modifier la société</a></p>
    <p><a href="{% url 'contacts:company-delete' slug=object.slug %}"
        class="btn btn-danger">Supprimer la société</a></p>
    <p><a href="{% url 'contacts:company-list' %}" class="btn btn-info">Retour à la liste des sociétés</a></p>
{% endblock %}
