{% extends 'contacts/base.html' %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}Détail de la société {{ object }}{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'briefcase' %} Détail de la société {{ object }}</h2>
    <div>{{ object }}</div>
    <dl>
        <dt>Type</dt>
        <dd>{% if object.type.icon %}{% bootstrap_icon object.type.icon %}
                {% endif %}{{ object.type }}</dd>
        <dt>Commentaires</dt>
        <dd>{{ object.get_comments | safe }}</dd>
    {% for prop_name, prop_value in object.get_properties.items %}
        <dt>{{ prop_name }}</dt>
        <dd>{{ prop_value | safe }}</dd>
    {% endfor %}
    </dl>
    {% if perms.contacts.view_contact %}
    <h3>{% bootstrap_icon 'user' %} Contacts
    {% if perms.contacts.add_contact %}
    <a href="{% url 'contacts:contact-create' company=object.slug %}"
            class="btn btn-primary btn-xs">
        {% bootstrap_icon 'plus' %} Ajouter</a>
    {% endif %}
    </h3>
    <table class="table">
        <tr><th>Nom</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        {% for contact in object.contacts.all %}
        <tr><td><a href="{{ contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ contact }}</a></td>
            <td>{% if contact.type.icon %}{% bootstrap_icon contact.type.icon %}
                {% endif %}{{ contact.type }}</td>
            <td>{% if perms.contacts.change_contact %}<a href="{% url 'contacts:contact-update' slug=contact.slug %}">{% bootstrap_icon 'pencil' %}</a>{% endif %}
                {% if perms.contacts.delete_contact %}<a href="{% url 'contacts:contact-delete' slug=contact.slug %}">{% bootstrap_icon 'trash' %}</a></td>{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="4">Cette société ne possède pour l’instant aucun contact.</td></tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if perms.contacts.view_meeting %}
    <h3>{% bootstrap_icon 'comment' %} Échanges
    {% if perms.contacts.add_meeting %}
    <a href="{% url 'contacts:meeting-create' company=object.slug %}"
            class="btn btn-primary btn-xs">
        {% bootstrap_icon 'plus' %} Ajouter un échange</a>
    {% endif %}
    </h3>
    <table class="table">
        <tr><th>Contact</th>
            <th>Date</th>
            <th>Type</th>
            <th>Auteur</th>
            <th>Commentaire</th>
            <th>Actions</th>
        </tr>
        {% for meeting in object.last_meetings %}
        <tr><td><a href="{{ meeting.contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ meeting.contact }}</a></td>
            <td><a class="label label-default" data-toggle="tooltip" data-placement="top"
                    data-original-title="{{ meeting.date }}" href="{{ meeting.get_absolute_url }}">{{ meeting.date | naturaltime }}</a></td>
            <td>{% if meeting.type.icon %}{% bootstrap_icon meeting.type.icon %}
                {% endif %}{{ meeting.type }}</td>
            <td>{{ meeting.author }}</td>
            <td>{{ meeting.get_comments | safe }}</td>
            <td>{% if perms.contacts.change_meeting %}<a href="{% url 'contacts:meeting-update' pk=meeting.pk %}">{% bootstrap_icon 'pencil' %}</a>{% endif %}
                {% if perms.contacts.delete_meeting %}<a href="{% url 'contacts:meeting-delete' pk=meeting.pk %}">{% bootstrap_icon 'trash' %}</a></td>{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="6">Cette société ne possède pour l’instant aucun
                échange.</td></tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if perms.contacts.view_alert %}
    <h3>{% bootstrap_icon 'bell' %} Alertes
    {% if perms.contacts.add_alert %}
    <a href="{% url 'contacts:alert-create' company=object.slug %}"
            class="btn btn-primary btn-xs">
        {% bootstrap_icon 'plus' %} Ajouter une alerte</a>
    {% endif %}
    </h3>
    <table class="table">
        <tr><th>Contact</th>
            <th>Date</th>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        {% for alert in object.active_alerts %}
        <tr>
            <td><a href="{{ alert.contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ alert.contact }}</a></td>
            <td><span class="label{% if alert.is_near %} label-danger{% else %} label-default{% endif %}" data-toggle="tooltip" data-placement="top" data-original-title="{{ alert.date }}">{{ alert.date | naturaltime }}</span></td>
            <td><a href="{{ alert.get_absolute_url }}">{% bootstrap_icon 'bell' %} {{ alert }}</a></td>
            <td>{% if perms.contacts.change_alert %}<a href="{% url 'contacts:alert-update' pk=alert.pk %}">{% bootstrap_icon 'pencil' %}</a>{% endif %}
                {% if perms.contacts.delete_alert %}<a href="{% url 'contacts:alert-delete' pk=alert.pk %}">{% bootstrap_icon 'trash' %}</a></td>{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="6">Cette société ne possède pour l’instant aucune alerte.</td></tr>
        {% endfor %}
    </table>
    {% endif %}

    <p>
    {% if perms.contacts.change_company %}
    <a href="{% url 'contacts:company-update' slug=object.slug %}"
        class="btn btn-primary btn-xs">{% bootstrap_icon 'pencil' %} Modifier la société</a>
    {% endif %}
    {% if perms.contacts.delete_company %}
    <a href="{% url 'contacts:company-delete' slug=object.slug %}"
        class="btn btn-danger btn-xs">{% bootstrap_icon 'trash' %} Supprimer la société</a>
    {% endif %}
    </p>
{% endblock %}
