{% extends 'contacts/base.html' %}
{% load bootstrap3 %}

{% block title %}Liste des contacts{% if company %}
de la société {{ company }}{% endif %}{% endblock %}

{% block content %}
<h2>Liste des contacts{% if company %}
    de la société <a href="{{ company.get_absolute_url }}">{{ company }}</a>{% endif %}</h2>
    {% if perms.contacts.add_contact %}
        {% if company %}
        <div><a href="{% url 'contacts:contact-create' company=company.slug %}" class="btn btn-info">Ajouter</a></div>
        {% else %}
        <div><a href="{% url 'contacts:contact-create' %}" class="btn btn-info">Ajouter</a></div>
        {% endif %}
    {% endif %}
    <table class="table">
        <tr><th>Nom</th>
            <th>Groupe</th>
            <th>Société</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        {% for object in object_list %}
        <tr><td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
            <td>{{ object.group }}</td>
            <td>{{ object.company }}</td>
            <td>{{ object.type }}</td>
            <td>{% if perms.contacts.change_contact %}<a href="{% url 'contacts:contact-update' slug=object.slug %}">{% bootstrap_icon 'pencil' %}</a>{% endif %}
                {% if perms.contacts.delete_contact %}<a href="{% url 'contacts:contact-delete' slug=object.slug %}">{% bootstrap_icon 'trash' %}</a></td>{% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}

