{% extends 'contacts/base.html' %}
{% load bootstrap3 %}

{% block title %}Liste des contacts{% if company %}
de la société {{ company }}{% endif %}{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'user' %} Liste des contacts{% if company %}
    de la société <a href="{{ company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ company }}</a>{% endif %}
    {% if perms.contacts.add_contact %}
        {% if company %}
        <a href="{% url 'contacts:contact-create' company=company.slug %}"
            class="btn btn-primary btn-xs">Ajouter</a>
        {% else %}
        <a href="{% url 'contacts:contact-create' %}" class="btn
            btn-primary btn-xs">Ajouter</a>
        {% endif %}
    {% endif %}
    </h2>
    {% include 'contacts/partials/search-form.html' with return_url='contacts:contact-list' %}
    {% with objects_count=object_list|length %}
    <p>Affichage de {{ objects_count }}
    contact{{ objects_count | pluralize }}{% if is_paginated %} sur {{ paginator.count }}{% endif %}.</p>
    {% endwith %}
    <table class="table table-striped table-bordered">
        <tr><th>Nom
                <span class="pull-right">
                <a{% if order == 'firstname' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=firstname">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-firstname' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-firstname">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            {% if not company %}<th>Société
                <span class="pull-right">
                <a{% if order == 'company' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=company">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-company' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-company">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>{% endif %}
            <th>Type
                <span class="pull-right">
                <a{% if order == 'type' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=type">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-type' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-type">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            <th>Échanges
                <span class="pull-right">
                <a{% if order == 'meetings' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=meetings">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-meetings' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-meetings">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            {% for prop in properties_names %}
            {% with 'properties__'|add:prop as prop_name %}
            {% with '-properties__'|add:prop as minus_prop_name %}
            <th>{{ prop }}
                <span class="pull-right">
                <a{% if order == prop_name %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=properties__{{ prop }}">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == minus_prop_name %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-properties__{{ prop }}">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            {% endwith %}
            {% endwith %}
            {% endfor %}
            <th>Actions</th>
        </tr>
        {% for object in object_list %}
        <tr><td><a href="{{ object.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ object }}</a></td>
            {% if not company %}<td>{% if object.company %}<a href="{{ object.company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ object.company }}</a>{% endif %}</td>{% endif %}
            <td>{% if object.type.icon %}{% bootstrap_icon object.type.icon %}
                {% endif %}{{ object.type }}</td>
            <td><a href="{% url 'contacts:meeting-list' contact=object.slug %}">{% bootstrap_icon 'comment' %} {{ object.meetings.count }}</a></td>
            {% for prop_name, prop_value in object.get_displayed_properties.items %}
            <td>{{ prop_value | safe }}</td>
            {% endfor %}
            <td>{% if perms.contacts.change_contact %}<a href="{% url 'contacts:contact-update' slug=object.slug %}">{% bootstrap_icon 'pencil' %}</a>{% endif %}
                {% if perms.contacts.delete_contact %}<a href="{% url 'contacts:contact-delete' slug=object.slug %}">{% bootstrap_icon 'trash' %}</a></td>{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="5">Il n’y a aucun contact.</td></tr>
        {% endfor %}
    </table>
    {% include 'contacts/partials/paginator.html' %}
{% endblock %}

