{% extends 'contacts/base.html' %}
{% load bootstrap3 %}

{% block title %}Détail du contact {{ object }}{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'user' %} Détail du contact {{ object }}</h2>
    <div>{{ object }}</div>
    <dl>
    {% if object.company %}
        <dt>Société</dt>
        <dd><a href="{{ object.company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ object.company }}</a></dd>
    {% endif %}
    {% for prop_name, prop_value in object.properties.items %}
        <dt>{{ prop_name }}</dt>
        <dd>{{ prop_value }}</dd>
    {% endfor %}
    </dl>
    {% if perms.contacts.view_meeting %}
    <h3>{% bootstrap_icon 'comment' %} Rencontres
    {% if perms.contacts.add_meeting %}
    <a href="{% url 'contacts:meeting-create' contact=object.slug %}"
          class="btn btn-primary btn-xs">{% bootstrap_icon 'plus' %} ajouter une
          rencontre</a>
    {% endif %}
    </h3>
    <table class="table">
        <tr><th>Date</th>
            <th>Type</th>
            <th>Auteur</th>
            <th>Commentaire</th>
            <th>Actions</th>
        </tr>
        {% for meeting in object.meetings.all %}
        <tr><td><a href="{{ meeting.get_absolute_url }}">{{ meeting.date }}</a></td>
            <td>{{ meeting.type }}</td>
            <td>{{ meeting.author }}</td>
            <td>{{ meeting.comments }}</td>
            <td>{% if perms.contacts.change_meeting %}<a href="{% url 'contacts:meeting-update' pk=meeting.pk %}">{% bootstrap_icon 'pencil' %}</a>{% endif %}
                {% if perms.contacts.delete_meeting %}<a href="{% url 'contacts:meeting-delete' pk=meeting.pk %}">{% bootstrap_icon 'trash' %}</a></td>{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="5">Ce contact ne possède pour l’instant aucune rencontre.</td></tr>
        {% endfor %}
    </table>
    {% endif %}

    <p>
    {% if perms.contacts.change_contact %}
    <a href="{% url 'contacts:contact-update' slug=object.slug %}"
        class="btn btn-primary btn-xs">modifier le contact</a>
    {% endif %}
    {% if perms.contacts.delete_contact %}
    <a href="{% url 'contacts:contact-delete' slug=object.slug %}"
        class="btn btn-danger btn-xs">Supprimer le contact</a>
    {% endif %}
    </p>
{% endblock %}
