{% extends 'contacts/base.html' %}
{% load bootstrap3 %}
{% load humanize %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'bell' %} Accueil
    </h2>
        {% for object in object_list %}
        <div class="panel panel-{% if object.priority == 0 %}default
        {% elif object.priority == '1' %}success
        {% elif object.priority == '2' %}info
        {% elif object.priority == '3' %}warning{% endif %}">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ object }}
                </h3>
            </div>
            <div class="panel-body">
            <p><a href="{{ object.contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ object.contact }}</a></p>
            <p><a href="{{ object.contact.company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ object.contact.company }}</a></p>
            <p><span{% if object.is_near %} class="label label-danger"{% endif %} title="{{ object.date }}">{{ object.date | naturaltime }}</span></p>
            <p><a href="{{ object.get_absolute_url }}">{% bootstrap_icon 'bell' %} {{ object }}</a></p>
            <p>{{ object.comments }}</p>
            </div>
        </div>
        {% empty %}
        <p>Il n’y a aucune alerte.</p>
        {% endfor %}
{% endblock %}
