{% extends 'contacts/base.html' %}
{% load bootstrap3 %}
{% load humanize %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'home' %} Accueil</h2>
<h3>{% bootstrap_icon 'bell' %} Prochaines alertes</h3>
        {% for object in object_list %}
        <div class="panel panel-{% if object.priority == 0 %}default
        {% elif object.priority == '1' %}success
        {% elif object.priority == '2' %}info
        {% elif object.priority == '3' %}warning{% endif %}">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="{{ object.get_absolute_url }}">{% bootstrap_icon 'bell' %} {{ object }}</a>
                </h3>
            </div>
            <div class="panel-body">
            <p><a href="{{ object.contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ object.contact }}</a></p>
            <p><a href="{{ object.contact.company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ object.contact.company }}</a></p>
            <p><span class="label{% if object.is_near %} label-danger{% else %} label-default{% endif %}" data-toggle="tooltip" data-placement="top" data-original-title="{{ object.date }}">{{ object.date | naturaltime }}</span></p>
            <div>{{ object.get_comments | safe }}</div>
            <form method="post" action="{% url 'contacts:alert-done' pk=object.pk %}">
            {% csrf_token %}
            <input type="hidden" name="done" value="1" />
            <p class="pull-right"><button class="btn btn-success" data-toggle="tooltip" data-placement="top" data-original-title="Marquer comme achevé">{% bootstrap_icon 'ok' %}</button></p>
            </form>
            </div>
        </div>
        {% empty %}
        <p>Il n’y a aucune alerte.</p>
        {% endfor %}
        <h3>{% bootstrap_icon 'fire' %} Activités</h3>
        <ul class="list-group">
            {% for notif in notifications %}
            <li class="list-group-item"><span class="label label-default" data-toggle="tooltip" data-placement="top"
                    data-original-title="{{ notif.date }}">{{ notif.date | naturaltime }}</span> :
                {% if notif.object.author == user %}Vous avez {% else %}
                {{ notif.object.author }} a {% endif %}
                {% if notif.type == 'creation' %}créé{% elif notif.type == 'update' %}
                modifié{% elif notif.type == 'meeting' %}
                rencontré{% endif %}
                <a href="{{ notif.object.get_absolute_url }}"> {% bootstrap_icon notif.object.get_glyphicon %} {{ notif.object }}</a>.
            </li>
            {% empty %}
            <li>Rien ne s’est passé récemment.</li>
            {% endfor %}
        </ul>
{% endblock %}
