{% extends 'contacts/base.html' %}
{% load bootstrap3 %}
{% load humanize %}

{% block title %}Import de {{ import_type_name }}s{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'import' %} Import {{ words.of }}{{ import_type_name }}s</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% bootstrap_icon 'plus' %} Importer
    </button>
    {% endbuttons %}
</form>
{% endblock %}
