{% extends 'contacts/base.html' %}
{% load bootstrap3 %}

{% block title %}Liste des rencontres
{% if company %} de la société {{ company }}
{% elif contact %} du contact {{ contact }}{% endif %}
{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'comment' %} Liste des rencontres
    {% if company %}
    de la société <a href="{{ company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ company }}</a>
    {% elif contact %}
    du contact <a href="{{ contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ contact }}</a>
    {% endif %}
    {% if perms.contacts.add_meeting %}
        {% if company %}
        <a href="{% url 'contacts:meeting-create' company=company.slug %}"
            class="btn btn-primary btn-xs">{% bootstrap_icon 'plus' %} Ajouter</a>
        {% elif contact %}
        <a href="{% url 'contacts:meeting-create' contact=contact.slug %}"
            class="btn btn-primary btn-xs">{% bootstrap_icon 'plus' %} Ajouter</a>
        {% else %}
        <a href="{% url 'contacts:meeting-create' %}" class="btn btn-primary
            btn-xs">{% bootstrap_icon 'plus' %} Ajouter</a>
        {% endif %}
    {% endif %}
    </h2>
    <table class="table">
        <tr>{% if not company %}<th>Société</th>{% endif %}
            {% if not contact %}<th>Contact</th>{% endif %}
            <th>Date</th>
            <th>Type</th>
            <th>Auteur</th>
            <th>Commentaire</th>
            <th>Actions</th>
        </tr>
        {% for object in object_list %}
        <tr>{% if not company %}<td><a href="{{ object.contact.company.get_absolute_url }}"> {% bootstrap_icon 'briefcase' %}
            {{ object.contact.company }}</a></td>{% endif %}
            {% if not contact %}<td><a href="{{ object.contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ object.contact }}</a></td>{% endif %}
            <td><a href="{{ object.get_absolute_url }}">{{ object.date }}</a></td>
            <td>{{ object.type }}</td>
            <td>{{ object.author }}</td>
            <td>{{ object.comments }}</td>
            <td>{% if perms.contacts.change_meeting %}<a href="{% url 'contacts:meeting-update' pk=object.pk %}">{% bootstrap_icon 'pencil' %}</a>{% endif %}
                {% if perms.contacts.delete_meeting %}<a href="{% url 'contacts:meeting-delete' pk=object.pk %}">{% bootstrap_icon 'trash' %}</a></td>{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="7">Il n’y a aucune rencontre.</td></tr>
        {% endfor %}
    </table>
{% endblock %}

