{% extends 'contacts/base.html' %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}Détail de la rencontre {{ object }}{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'comment' %} Détail de la rencontre avec <a href="{{ object.contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ object.contact }}</a></h2>
    <div>Rencontre du {{ object.date }}</div>
    <dl>
        <dt>Contact</dt>
        <dd><a href="{{ object.contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ object.contact }}</a></dd>
    {% if object.contact.company %}
        <dt>Société</dt>
        <dd><a href="{{ object.contact.company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ object.contact.company }}</a></dd>
    {% endif %}
        <dt>Type</dt>
        <dd>{% if object.type.icon %}{% bootstrap_icon object.type.icon %}
                {% endif %}{{ object.type }}</dd>
        <dt>Date</dt>
        <dd><span class="label label-default" data-toggle="tooltip" data-placement="top" data-original-title="{{ object.date }}">{{ object.date | naturaltime }}</span></dd>
    </dl>
    <p>{{ object.comments }}</p>

    <p>
    {% if perms.contacts.change_meeting %}
    <a href="{% url 'contacts:meeting-update' pk=object.pk %}"
        class="btn btn-primary btn-xs">Modifier la rencontre</a>
    {% endif %}
    {% if perms.contacts.delete_meeting %}
    <a href="{% url 'contacts:meeting-delete' pk=object.pk %}"
        class="btn btn-danger btn-xs">Supprimer la rencontre</a>
    {% endif %}
    </p>
{% endblock %}
