{% extends 'contacts/base.html' %}
{% load humanize %}
{% load bootstrap3 %}

{% block title %}Liste des échanges
{% if company %} avec la société {{ company }}
{% elif contact %} avec {{ contact }}{% endif %}
{% endblock %}

{% block content %}
<h2>{% bootstrap_icon 'comment' %} Liste des échanges
    {% if company %}
    avec la société <a href="{{ company.get_absolute_url }}">{% bootstrap_icon 'briefcase' %} {{ company }}</a>
    {% elif contact %}
    avec <a href="{{ contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ contact }}</a>
    {% endif %}
    {% if perms.contacts.add_meeting %}
        {% if company %}
        <a href="{% url 'contacts:meeting-create' company=company.slug %}"
            class="btn btn-primary btn-xs">{% bootstrap_icon 'plus' %} Ajouter</a>
        {% elif contact %}
        <a href="{% url 'contacts:meeting-create' contact=contact.slug %}"
            class="btn btn-primary btn-xs">{% bootstrap_icon 'plus' %} Ajouter</a>
        {% else %}
        <a href="{% url 'contacts:meeting-create' %}" class="btn btn-primary
            btn-xs">{% bootstrap_icon 'plus' %} Ajouter</a>
        {% endif %}
    {% endif %}
    </h2>
    {% include 'contacts/partials/search-form.html' with return_url='contacts:meeting-list' %}
    {% with objects_count=object_list|length %}
    <p>Affichage de {{ objects_count }}
    échange{{ objects_count | pluralize }}{% if is_paginated %} sur {{ paginator.count }}{% endif %}.</p>
    {% endwith %}
    <table class="table table-striped table-bordered">
        <tr>{% if not company %}<th>Société
                <span class="pull-right">
                <a{% if order == 'company' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=company">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-company' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-company">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>{% endif %}
            {% if not contact %}<th>Contact
                <span class="pull-right">
                <a{% if order == 'contact' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=contact">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-contact' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-contact">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>{% endif %}
            <th>Date
                <span class="pull-right">
                <a{% if order == 'date' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=date">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-date' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-date">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            <th>Type
                <span class="pull-right">
                <a{% if order == 'type' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=type">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-type' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-type">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            <th>Auteur
                <span class="pull-right">
                <a{% if order == 'author' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=author">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-author' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-author">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            <th>Commentaire
                <span class="pull-right">
                <a{% if order == 'comments' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=comments">{% bootstrap_icon 'triangle-top' %}</a>
                <a{% if order == '-comments' %} class="text-muted disabled"{% endif %} href="?{{ querystring_without_order }}order=-comments">{% bootstrap_icon 'triangle-bottom' %}</a>
                </span>
            </th>
            <th>Actions</th>
        </tr>
        {% for object in object_list %}
        <tr>{% if not company %}<td>{% if object.contact.company %}<a href="{{ object.contact.company.get_absolute_url }}"> {% bootstrap_icon 'briefcase' %}
            {{ object.contact.company }}</a>{% endif %}</td>{% endif %}
            {% if not contact %}<td><a href="{{ object.contact.get_absolute_url }}">{% bootstrap_icon 'user' %} {{ object.contact }}</a></td>{% endif %}
            <td><a class="label label-default" data-toggle="tooltip" data-placement="top" data-original-title="{{ object.date }}" href="{{ object.get_absolute_url }}">{{ object.date | naturaltime }}</a></td>
            <td>{% if object.type.icon %}{% bootstrap_icon object.type.icon %}
                {% endif %}{{ object.type }}</td>
            <td>{{ object.author }}</td>
            <td><div class="readmore">{{ object.get_comments | safe }}</div></td>
            <td>{% if perms.contacts.change_meeting %}<a href="{% url 'contacts:meeting-update' pk=object.pk %}">{% bootstrap_icon 'pencil' %}</a>{% endif %}
                {% if perms.contacts.delete_meeting %}<a href="{% url 'contacts:meeting-delete' pk=object.pk %}">{% bootstrap_icon 'trash' %}</a></td>{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="7">Il n’y a aucun échange.</td></tr>
        {% endfor %}
    </table>
    {% include 'contacts/partials/paginator.html' %}
{% endblock %}

