{% extends 'contacts/base.html' %}
{% load bootstrap3 %}

{% block title %}{{ verb.0 }} d’une recherche{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">{% bootstrap_icon 'search' %} {{ verb.0 }} d’une recherche</h2>
            </div>
            <div class="panel-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon verb.2 %} {{ verb.1 }}
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

