{% if is_paginated %}
<nav class="text-center">
    <ul class="pagination">
        <li{% if not page_obj.has_previous %} class="disabled"{% endif %}>
            <a href="{% if page_obj.has_previous %}?{% if querystring %}{{ querystring }}&amp;{% endif %}page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" aria-label="Précédent">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for page in paginator.page_range %}
            {% if page == page_obj.number %}
            <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
            <li><a href="?{% if querystring %}{{ querystring }}&amp;{% endif %}page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        <li{% if not page_obj.has_next %} class="disabled"{% endif %}>
            <a href="{% if page_obj.has_next %}?{% if querystring %}{{ querystring }}&amp;{% endif %}page={{ page_obj.next_page_number }}{% else %}#{% endif %}" aria-label="Précédent">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endif %}
